@use '../common/define' as *;
@use '../common/functions' as *;

main {
  width: 100%;

  // height: mu(50);
  .slide-show {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    // gap: mu(5);
    height: 100%;
    width: 100%;
    height: 50%;
    width: 100%;

    .content {
      padding: mu(2);

      >section {
        margin: mu(2) 0;
        @include reset-vertical-margins;

        h2 {
          margin-bottom: mu(1);
        }
      }

      &-about {
        &-container {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 50%;
            width: 30%;
            height: 30%;
            margin-right: mu(2);
            background-color: aquamarine;
          }
        }
      }

      &-work {
        &-card {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: mu(2);

          &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: mu(2);
            margin: mu(1) 0;
            min-width: mu(8);
            border-radius: mu(1);
            background-color: lightpink;

            i {
              font-size: mu(10);
            }

            p {
              text-align: center;
              overflow-wrap: break-word;
              margin-top: mu(1);
            }
          }
        }
      }

      &-hobby {
        &-list {
          display: flex;
          justify-content: center;
          margin: mu(1) 0;
          @include reset-vertical-margins;

          &:nth-child(odd) {
            img {
              margin-right: mu(1);
            }
          }

          &:nth-child(even) {
            flex-direction: row-reverse;

            img {
              margin-left: mu(1);
            }
          }


          img {
            width: 40%;
            border-radius: mu(1);
          }

          &-text {
            padding: mu(1) 0;

            p {
              white-space: normal;
            }
          }
        }
      }

    }

    aside {
      height: 100%;
      padding: mu(2);

      .sidebar-item {
        @include reset-vertical-margins;
        margin: mu(5) 0;
        // background-color: antiquewhite;

        p {
          font-size: larger;
          text-align: center;
          margin-bottom: mu(1);
        }

        ul {
          li {
            position: relative;
            padding-left: 20px;

            &::before {
              content: '\1964';
              position: absolute;
              left: 0;
            }

            a {
              color: map-get($global-colors, "a-tag");
              text-decoration: underline map-get($global-colors, "a-tag");

              &:hover {
                color: map-get($global-colors, "a-tag-hover");
                text-decoration: underline map-get($global-colors, "a-tag-hover");
              }
            }
          }
        }
      }
    }
  }
}