@use '../common/define' as *;
@use '../common/functions' as *;

header {
  position: fixed;
  padding: mu(1);
  height: mu(8);
  width: 100%;
  z-index: map-get($z-index, "header");
  max-width: map-get($max-width, "header");
  background-color: map-get($global-colors, "white");
  // height: 100%;

  nav {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;

      li {
        margin: 0 mu(1);
        @include reset-horizon-margins;

        a {
          font-size: mu(3);
          font-weight: bold;
          color: map-get($global-colors, "font-main");

          &:hover {
            text-decoration: underline;
          }

          @include respond(phone) {
            font-size: mu(2);
          }
        }
      }
    }
  }
}