@use '../common/define' as *;
@use '../common/functions' as *;

footer {
  display: flex;
  justify-content: center;
  padding: mu(1);
  height: mu(10);
  // width: 100%;
  z-index: map-get($z-index, "footer");
}
.social-icons {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  a {
    display: flex;
    justify-content: center;
    font-size: mu(5);
    color: map-get($global-colors, "icons");
  }
}